<ul id="articles">
  <% @articles.each do |article| %>
    <li class="article">
      <span class="date"><%= article.created_at.strftime('%B %d, %Y')%> </span>
      <span class="tag">
        <% article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </span>
      <%= link_to article.title, article_path(article), class: 'article_title' %>
      <p class="article_text"><%= article.body.truncate_words(30) %></p>
      <p class="read_more"><%= link_to "(Read More...)", article_path(article) %></p>
    </li>
    <% end %>
</ul>

<%= link_to "Create Article", new_article_path, class: 'new_article' %>
